[2017-05-04 01:56] subsoap opened #2 "Feature wishlist"
Posting here as a reminder

* set_video_mode - change current video mode to be windowed / fullscreen / window borderless etc.
* restore_video_mode - change back to previously saved video mode
* get_monitors - get list of monitors to be able to set fullscreen on primary or secondary monitors
~~* using custom hardware cursors~~
~~* changing window icon~~
~~* setting min / max window sizes? or let us

[2017-05-04 06:44] AGulev opened #4 "Window position on different platforms"
On macos window position sets from left down corner.
for example
[code]

![2017-05-04_09-38-25](https://cloud.githubusercontent.com/assets/2209596/25692738/789aac2e-30ad-11e7-92e7-e61c1db73051.png)

As I know on windows position starts from top-left corner? Am I right?

I think we should resolve this issue.
We can identify what exactly screen point point we should  consider like a 0,0?
And then im

[2017-05-04 15:44] subsoap commented on #4
Good idea. Yes, Windows begins at top left. Should probably switch that one to macOS style.

[2017-05-04 15:50] AGulev commented on #4
Or, we can switch to windows style. Maybe top left corner more native and understandable?

[2017-05-04 15:59] subsoap commented on #4
You're probably right as the Windows way is the way monitor hardware works, but it would also give consistency within Defold positioning to do it the macOS way.

[2017-05-04 16:00] AGulev commented on #4
We need to choose our side =)

[2017-05-04 19:21] AGulev commented on #2
Do we have some priorities for a features?
And sync between windows and macos platforms?

For example I can implement for macOS:
toggle_fullscreen or set_video_mode with constants
is_fullscreen
Change window title

But maybe have sence to wait when it will be implemented on Windows?

[2017-05-04 19:44] subsoap opened #6 "Add ability to make window maximized"
Should be this with SW_SHOWMAXIMIZED I think
https://msdn.microsoft.com/en-us/library/windows/desktop/ms633548(v=vs.85).aspx

Could also add functions for minimizing, making window get focus, making taskbar blink / light up,

[2017-05-04 19:58] AGulev commented on #6
I can make almost the same things on macOS, but I think we have to get most important and frequency used things and implement them.

[2017-05-04 20:03] AGulev commented on #6
something like function
defos.set_window_mode(param)
and parameters
defos.SHOW_MAXIMIZED
defos.SHOW_FULLSCREEN
defos.SHOW_WINDOWED
or something like this.

I am not sure about case of using : window get focus, making taskbar blink / light up,

[2017-05-04 22:20] subsoap commented on #6
WIP version going to add it in properly later

[code]

[2017-05-05 00:02] subsoap commented on #2
Make issues for anything you think is high priority and I'll work on other versions over time. High priority features should be ones that a game needs to release on Steam successfully. Things users expect and increase their quality of life as they play the game.

You do not have to wait. Go ahead and implement anything you feel like and I'll try to do the Windows versions when I can. @chaosddp wil

[2017-05-05 02:50] chaosddp commented on #2
Of curse, I can try to implement the Windows version, though I am not familiar with win32. :)

[2017-05-05 05:29] AGulev commented on #6
Fully agree with you about version 1.0 and 2.0 .
And thanks for the maximize option ( option key + shift + green button) I never known about it =)))

[2017-05-08 04:37] subsoap commented on #2
Probably going to need to wait 1-2 weeks until we do a 1.0 release for when Native Extensions are released on Windows / Linux then everything can be done with Native Extensions. Right now I can't do the Linux work because ffi can't be used at all apparently so I'll help to finish Win/Mac until NE go live for everything. I think I'll make a formal priority list and todo based on what I know is need

[2017-05-11 07:19] AGulev commented on #2
@subsoap @chaosddp
What about defos.toggle_maximize() method?

[2017-05-11 08:09] subsoap commented on #2
That would probably be a good one. The toggle is between maximize / restore on win

[2017-05-11 14:28] chaosddp commented on #2
added the defos.toggle_maximize and defos.is_maximize for Windows, but i have to restore the fullscreen state first

[2017-05-11 21:21] AGulev commented on #6
As I undestand this issue is done?
new methods:
defos.toggle_maximize()
and
defos.is_maximize()
was added

[2017-05-11 21:21] #6 closed

[2017-05-11 21:22] AGulev commented on #2
Done for macOS too and close an issue  #6

[2017-05-12 06:14] chaosddp opened #17 "the window size is weird if disable maximize button then toggle to maximize window"
repro on windows, i will try to fix this issue later,

[2017-05-16 22:51] subsoap opened #20 "Don't allow editor to move the location of the active/main game.project file from the Assets panel"
I accidentally dragged my game.project file into another folder and everything exploded

[2017-05-16 22:51] subsoap commented on #20
Wrong repo

[2017-05-16 22:51] #20 closed

[2017-05-16 22:56] subsoap opened #21 "Add support for detecting ` and ~"
key-caret can be added to the input but it doesn't actually work (on Windows)

[2017-05-17 19:08] subsoap opened #23 "get / put to text clipboard"
Functions to see what's in clipboard, take what's in clipboard, put text into clipboard.

https://msdn.microsoft.com/en-us/library/windows/desktop/ms649016(v=vs.85).aspx

[2017-05-18 08:22] subsoap opened #24 "Add HTML5 support for some features when HTML5 native extensions arrives"
Fullscreen toggle for example

[2017-05-19 03:32] subsoap commented on #24
Also need proper canvas focus (atm window focus detects actual browser window and not canvas focus)

and need to be able to disable / enable mouse cursor for using custom cursors in game

[2017-05-25 01:40] subsoap opened #25 "Extra Windows 10 window features"
![1](https://cloud.githubusercontent.com/assets/409170/26432394/5c5b80b6-40b0-11e7-90c2-b3ee88c3e81f.png)

![2](https://cloud.githubusercontent.com/assets/409170/26432406/7323baca-40b0-11e7-967d-7b6c2b30a092.png)

[2017-05-25 02:04] chaosddp commented on #25
as i know this is UAP(win8.1) feature, win32 apps do not have this kind of titlebar, now UWP apps on win10 do not have the first menu in first picture by default, but the titlebar can be extend.

[2017-05-25 02:25] subsoap commented on #25
I see. Solution is to get Defold team to build Windows target for UAP!

[2017-05-25 02:37] chaosddp commented on #25
Yes, but since Windows 10 is latest build, i think UWP is more reasonable to be supported, then we can write an extension to add menu in titlebar.

[2017-07-11 22:36] subsoap commented on #2
There is native extensions for Windows now. I'll play with it this weekend to get some features done.

[2017-07-19 21:32] subsoap commented on #2
Doing some Windows work now just a heads up.

[2017-07-27 02:22] chaosddp commented on #2
Later I will have a try too, though i am not familiar with c/c++. :)

[2017-10-07 06:48] britzl opened #27 "Maximize issue on Windows"
Reported by forum user Ross Grams:

I still have a weird issue with maximizing. I think I’ve narrowed it down—if, before toggling maximized or fullscreen from DefOS, I use the windows command (windows-button + up) to maximize the window, then toggle maximize from DefOS, the window vanishes completely. It doesn’t show up in the task bar or the task manager, but it’s still running and sending stuff

[2017-10-07 06:55] AGulev commented on #4
I made changes in mac version, now coordinates starts from top left corner like on Windows PC

[2017-10-07 06:55] #4 closed

[2017-10-07 07:47] subsoap commented on #21
Closing because these can be done in vanilla Defold with detecting text input and ` can be detected as a normal key with key-backquote.

[2017-10-07 07:47] #21 closed

[2017-10-16 18:02] britzl commented on #23
Started working on this.

[2017-10-18 01:52] subsoap opened #29 "Make a 1.0 release"
I'd guess Linux native extensions will come next release, can make sure it has feature parity without issues, and then publish first versioned release. Then encourage people to use versioned releases in important projects. Though we probably won't make major changes that would break existing projects it's better to give people sense of security that using the lib won't break their project if we pu

[2017-10-22 00:21] subsoap commented on #23
https://www.defold.com/community/projects/83154/

[2017-10-22 00:21] #23 closed

[2017-11-07 23:53] subsoap opened #30 "Sometimes defos.toggle_fullscreen() makes the game close on Windows"
I have yet to find the cause

[2017-11-08 02:58] subsoap opened #31 "Detect if mouse is at the edge or outside of the game window (such as on the top window bar) and force show mouse"
It's too hard to scale / move window otherwise

[2017-11-08 07:33] chaosddp commented on #31
Then we have to provide a update function so that we are enble to do check.
How about provide a method like is_mouse_exiting to developer, so that we can determine if they need to show the cursor or not by calling existing method.

[2017-11-08 14:30] subsoap commented on #31
That's a good idea **is_cursor_within_window** maybe?

[2017-11-08 21:03] subsoap opened #32 "Lock/unlock mouse cursor to window"
todo

https://msdn.microsoft.com/en-us/library/windows/desktop/ms648383(v=vs.85).aspx

https://github.com/d954mas/Defold-lock-cursor/blob/master/lock/extension/src/LockMouse.cpp

[2017-11-08 23:12] subsoap commented on #31
I started Window support here

https://github.com/subsoap/defos/tree/is_mouse_cursor_within_window

@chaosddp could you test this?

@AGulev could you add Mac support? Is Mac support needed? It is on Windows because the cursor will hide still if the mouse is on the title/edges which makes resizing a pain.

[2017-11-09 00:46] subsoap opened #33 "Detect if minimized"
Only problem is that the Defold runtime pauses when minimizes

[2017-11-09 02:59] subsoap opened #34 "Add actual icon support for game cursors"
Might be easy with buffers

[2017-11-09 09:34] chaosddp commented on #33
i found this a link [here](https://msdn.microsoft.com/en-us/library/ms646360.aspx) for windows, but  not sure if we can handle these message in defold games.

[2017-11-09 09:55] chaosddp commented on #31
@subsoap I've tested on my Windows 10.
1. the detect bound should exclude the titlebar, it seems like 32 pixel high?
2. When i trying to move the cursor into the window, it was disappeared near the edge, but not exactly on the edge(red rectangle  in following image), so still cannot resize the window easily. Maybe caused by window shadow effect?
How about add a buffer to the detect bound, or make

[2017-11-09 15:48] subsoap opened #35 "Show/hide output console"
https://forum.defold.com/t/windows-release-build-with-native-extensions-eta/13477/6

https://docs.microsoft.com/en-us/windows/console/freeconsole
http://www.cplusplus.com/forum/beginner/12001/

[2017-11-09 15:51] subsoap commented on #31
@chaosddp If you move your mouse around inside the window does it consistently say it's within the client window or does it sometimes say it's outside of the client window sometimes even while inside?

[2017-11-09 15:57] subsoap commented on #35
[code]

[2017-11-09 17:23] subsoap commented on #35
Working test in https://github.com/subsoap/defos/tree/toggle_debug_console

@chaosddp Could you test this too?

@AGulev If you build debug on Mac does a console similar to this appear or is this only a Windows thing?

[2017-11-09 17:33] subsoap commented on #35
BTW, only works on Windows and only with bundled builds not in editor builds as far as I can tell.

[2017-11-09 17:36] AGulev commented on #35
Hard week, I'll back to this issue after next week

[2017-11-09 17:36] AGulev commented on #31
Hard week, I'll back to this issue after next week

[2017-11-10 00:27] subsoap commented on #35
Maybe add set_console_title since the default title is just the path to the exe

https://docs.microsoft.com/en-us/windows/console/setconsoletitle

[2017-11-10 01:05] subsoap commented on #32
Locking cursor to center of the window, used in FPS shooters where you want the user to be able to continuously turn around with the mouse. mouse dx and mouse dy are used to get rotation. Generally you want to show a graphic which is centered in the screen and hide the mouse cursor. If you don't hide the mouse cursor as you turn around you'll still see the mouse dx/dy distances from center which i

[2017-11-10 02:00] chaosddp commented on #31
@subsoap only near the edge in the window, it will switch between in/outside for several time, then it will be stable if i do not move the mouse

[2017-11-10 02:18] chaosddp commented on #35
@subsoap work fine on my Windows, and is it necessary to change title as it usually used for debug?
Also do not forget to share us the link of your game after release :)

[2017-11-10 02:23] chaosddp commented on #34
So you want to replace the default cursor?

[2017-11-10 03:14] subsoap commented on #34
Yes, the native cursor icon with various shapes.

We can let user set cursor based on a Defold atlas texture.

We can let user switch to standard OS versions like hand cursor too.

[2017-11-10 03:16] subsoap commented on #35
@chaosddp will for sure and send you Steam keys!

Allowing changing the title I think would still be useful because the window title can be used to update things over time without filling up the console with prints such as FPS, server heartbeat, uptime. Some users may use it for showing server related info too.

[2017-11-10 03:20] subsoap commented on #31
@chaosddp I think there may be a better approach that's possible for detecting mouse within client window with what we have available. I'll need to do some more reading and testing.

[2017-11-10 08:14] subsoap opened #36 "Using existing GLFW 2.7 functions"
Cool thing!!

http://www.glfw.org/GLFWReference27.pdf
http://www.glfw.org/GLFWUsersGuide27.pdf

[glfw.h.zip](https://github.com/subsoap/defos/files/1460543/glfw.h.zip)

![2017-11-10 00_12_42-defold editor 2 0 - defos](https://user-images.githubusercontent.com/409170/32648699-e5ee4752-c5ab-11e7-99d8-78f5efe4e128.png)

If we add this header file to the project then we can call the GLFW 2.7 functions

[2017-11-11 02:41] rgrams commented on #32
The way d954mas's Lock extension works is it just sets the mouse position back to some preset position every time you call the function and reports dx and dy. So all you really need is a set_mouse_position function. You can get dx and dy from input events normally, and DefOS already has the show/hide cursor functions.

"Capture"ing the mouse to a window should be done with [this](https://msdn.micr

[2017-11-13 20:31] subsoap opened #37 "Linux support"
Native extensions now supports Linux so support for it needs to be added.

[2017-11-15 10:19] chaosddp commented on #37
I am not familar about Linux, is it easy to add support, as there are different UI system?
Such as maximize window, or change the title.

[2017-11-15 21:43] subsoap commented on #37
Not sure, but it should be possible to do everything we want it to do. Can look at how GLFW does everything for Linux. Have to wait until Editor 2 adds support for building/bundling before I can begin.

[2017-11-20 09:13] AGulev commented on #35
@subsoap I have no console on mac

[2017-11-27 14:18] AGulev opened #38 "Lock aspect ratio"
I need to lock minimum aspect ration as  of the window (on windows) 4:3 and maximus as 16:9.
Do somebody have some ideas how I can do this using DefOs?

[2017-11-27 21:03] subsoap commented on #38
It should be able to be done on Windows without any DefOS changes. What you have to do is check the current window size and make sure that it conforms to the min/max and if not then it will resize the window so that it does. That kind of function could be added too. Lots of games do this like Hearthstone.

[2017-11-27 21:08] AGulev commented on #38
We don't know position of the window, and can't set resolution without position.
But it's not a problem. Now I try to find way use lpfnWndProc callback and write this method fully on DefOS side.

If I can't do this, I add get_position method and make it using this method.

[2017-11-29 06:28] chaosddp commented on #38
If you want to use WndProc callback,  you can have a try with SetWindowLongPtr to replace current WndProc with you own. as i think that Defold already hooked it.

[2017-12-01 23:23] subsoap commented on #31
@chaosddp I don't have progress on this yet, any ideas?

[2017-12-02 04:38] subsoap commented on #30
It seems to always be going from Window Mode to Fullscreen so there may be some problem there.

[2017-12-04 01:48] chaosddp commented on #31
@subsoap sorry so late, how about SetWindowLongPtr  to hook the mouse in/out event, i have not try this on defold game yet.

[2017-12-04 01:54] chaosddp commented on #30
i just take a look at the toggle_fullscreen source code, there is a branch (line 155 in defos_win.c) to set the window size to (0, 0, 0, 0),  seems like the root cause?

[2017-12-04 02:37] subsoap commented on #30
Seems like possible cause!

[2017-12-04 02:39] subsoap commented on #31
@chaosddp could you try that?

Another option is using GLFW functions directly https://github.com/subsoap/defos/issues/36

We've been warned to not use GLFW functions because they might remove them at any point but our main goal should be to make these features work so people can publish games and adapt over time if necessary.

[2017-12-05 10:10] chaosddp commented on #38
@AGulev we have a  lpfnWndProc callback implement now on #39, you can try to handle your message in it.

[2017-12-05 11:21] AGulev commented on #38
@chaosddp cool Thank you!

[2017-12-08 14:33] subsoap opened #40 "Non-supported target handling"
https://forum.defold.com/t/android-builds-with-native-extensions-fail-def-3026/14326/10

[2017-12-08 16:46] dapetcu21 commented on #40
Cool! I’ll make a PR tomorrow/tonight.

[2017-12-09 08:30] #40 closed

[2017-12-29 16:06] AGulev commented on #38
Now developer can make all calculation in lua using defos.get_window_size() and defos.set_window_size().

[2017-12-29 16:06] #38 closed

[2018-01-01 13:56] selimanac opened #44 "use of undeclared identifier 'init_window' on MacOs"
Just check out my project and there is an error. It was working before(3-4 days ago). Looks like there is a problem with latest update/merge.
- Defold Editor 2, MacOs High Sierra.

Looks like commenting out line 85 works fine.

![screen shot 2018-01-01 at 16 49 51](https://user-images.githubusercontent.com/1324635/34468172-54508c28-ef14-11e7-944c-5b17fa980740.png)

[2018-01-01 14:01] AGulev commented on #44
@selimanac
My fault, sorry for that.
Bug fixed.

[2018-01-01 14:01] #44 closed

[2018-01-03 05:15] subsoap commented on #29
Let's do this when the next "within window" issue is resolved for macOS just so we can have a 1.0. I have a Steam game I want to release on Linux soon so it will compel me to add Linux support for all appropriate functions but can't do that yet. I don't anticipate any breaking changes anytime soon but would still be nice to begin to release versions so people can use versioned version with confide

[2018-01-03 20:12] AGulev commented on #24
I am working on it

[2018-01-03 20:31] dapetcu21 commented on #31
Oh. I haven't tested for that behavior on Windows. On macOS that's how it works because I added a tracking rectangle on the NSView, not the NSWindow, so the title bar should be considered outside the window.

I found this:
https://stackoverflow.com/questions/5629613/hide-cursor-in-client-rectangle-but-not-on-title-bar

Maybe changing the Windows code to use this instead of / in tandem with WM_LEAV

[2018-01-03 20:34] dapetcu21 commented on #31
I think I'll give it a go

[2018-01-03 20:57] dapetcu21 commented on #31
I booted up into Windows and apparently it's all fine. WM_MOUSELEAVE correctly only tracks the client area. Also tested hiding the mouse `on_mouse_enter` and showing it `on_mouse_leave` and it works beautifully on both Windows and macOS, allowing you to resize. I guess I'll close this, then.

[2018-01-03 20:57] #31 closed

[2018-01-04 19:34] AGulev commented on #24
#47 #48

[2018-01-04 19:34] #24 closed

[2018-01-05 07:23] dapetcu21 opened #50 "API change proposal"
I propose we change the following:

[code]

To the following:

[code]

This has the benefit of not having to know what state fullscreen is in before you toggle. You can just say `set_fullscreen(true)` to make sure you're in full screen, and if you were already full screen, then nothing happens. Toggle could be implemented by the user as `defos.set_fullscreen(not defos.is_fullscreen())`.

What do y

[2018-01-05 07:34] chaosddp commented on #50
good idea, and how about make them shorter? like

[code]

[2018-01-05 07:44] subsoap commented on #50
Should make a 1.0 release first (can be done now) and then yes API changes can be done.

[2018-01-05 09:01] dapetcu21 commented on #50
@subsoap @chaosddp You can delete tags. I just deleted the extra one.
[code]

[2018-01-06 21:18] AGulev commented on #35
@subsoap Do you have plans to merge console methods into master?

[2018-01-06 22:52] subsoap commented on #35
@AGulev Should it be included in DefOS since it's Windows only and a minor thing for Windows debug builds? Maybe better as its own small NE.

[2018-01-06 23:08] subsoap commented on #35
@AGulev I'll deal with it soon.

[2018-01-08 04:57] #29 closed

[2018-01-08 05:00] subsoap commented on #32
@rgrams Should test making a first person shooter type camera with Rendercam. Hide mouse cursor, always set mouse x,y to center of screen, use mouse dx/dy to rotate fps camera.

[2018-01-08 15:54] rgrams commented on #32
@subsoap I have. It was pretty darn easy. I used [d954mas's Lock extension](https://github.com/d954mas/save-shelter-defold/tree/master/lock/extension) from his Save Shelter game for the native extension part. (it's Windows & HTML only) If DefOS gets a 'set mouse position' function then I would use that instead.

[2018-01-08 20:25] subsoap opened #53 "Proposal: move_mouse_to"
```defos.move_mouse_to(x,y)```

Move mouse to x,y coordinates of the game window client area.

win/mac/linux only

[2018-01-09 01:51] chaosddp commented on #53
[this](https://msdn.microsoft.com/en-us/library/windows/desktop/ms648394(v=vs.85).aspx) is the function to set mouse position for win, i can have a try tonight after work.

[2018-01-09 02:19] #30 closed

[2018-01-09 07:36] AGulev commented on #53
solution [for mac](https://stackoverflow.com/questions/12995522/programmatically-control-a-mac-cursor-in-objective-c)

[2018-01-09 07:53] #35 closed

[2018-01-09 07:57] subsoap commented on #27
Just tested and this still is an issue.

[2018-01-09 08:00] subsoap commented on #36
Closing as we were warned to not use these.

[2018-01-09 08:00] #36 closed

[2018-01-09 08:00] subsoap commented on #25
Closing. Can support UWP if Defold team ever makes a target for it.

[2018-01-09 08:00] #25 closed

[2018-01-09 08:01] subsoap commented on #33
Closing as because Defold freezes the engine while minimized this can't be made useful anyway.

[2018-01-09 08:01] #33 closed

[2018-01-11 07:19] subsoap opened #58 "defos.set_window_size doesn't adjust based on client area size"
![2018-01-09-22_23_39-untitled-1- -33](https://user-images.githubusercontent.com/409170/34812816-38520aca-f65c-11e7-9dc4-3c89ab7715b0.jpg)

defos.set_window_size is based on window size and not client area size. We either need another function or to modify this so it's based on resizing the client area. This is important for pixel art games especially so people can easily set 2x, 4x window sizes o

[2018-01-16 03:23] subsoap commented on #37
I really want to work on this soon. I'll make dummy functions first then fill in what works.

[2018-01-28 05:44] chaosddp commented on #53
Done at #57

[2018-01-28 09:53] subsoap commented on #32
I'll test in next few days unless someone else does before.

[2018-01-31 10:44] AGulev opened #59 "Alt+f4 and Alt+enter on windows"
I am working with publisher and we make Win version of the game.
He told that Alt+f4 and Alt+enter - "must have" functions on windows.

I tried to make this function in lua, but in some popups I block message passing
[code]
What do you think, should I add this functions to defos (Win only)?
Or it should be an optional for a developer? But how this options should work then? Do you have any ideas?

[2018-01-31 11:20] dapetcu21 commented on #59
You could technically solve this by putting your whole game in a collection proxy, then in your main collection, give input focus to the script doing alt+f4 after giving input focus to your game's collection proxy.

[2018-01-31 11:24] AGulev commented on #59
@dapetcu21
yes, I know, I don't want to make things like this. It's dirty hack, not  solving of the issue.

[2018-01-31 11:29] dapetcu21 commented on #59
Then again, using defos to do input feels similarly feels like a dirty hack

[2018-01-31 11:31] AGulev commented on #59
Defos - is the native os functions
alt+f4 and alt-enter - native behavior on windows.

Ok, if you think this way, I make it in my local brunch.

[2018-01-31 11:31] #59 closed

[2018-01-31 11:56] dapetcu21 commented on #59
I don't have a strong opinion about this... Both approaches don't feel right to me and I honestly think that Alt+F4 to quit should have been default Defold behaviour.

Thinking about it, I think you're right in the sense that defos could provide this event to developers for convenience, even though it's not strictly its job. So maybe we could put it in.

[2018-01-31 15:01] subsoap commented on #59
These are what I use for alt+f4 / alt+enter - I also use F11 for toggling fullscreen like browsers do, and esc for closing (esc should open a window to confirm, alt+f4 should close directly).

[code]

[2018-02-18 14:29] #53 closed

[2018-02-18 14:29] #58 closed

[2018-02-18 14:30] #34 closed

[2018-02-18 14:33] subsoap commented on #50
Can change these that are left if you still want to before 2.0 otherwise please close.

[2018-02-18 15:34] dapetcu21 commented on #50
I changed them in #61. I'd like to also try to implement cursor clipping on macOS before 2.0. Would that be ok with you?

[2018-02-18 15:34] #50 closed

[2018-02-18 15:49] subsoap commented on #50
Yes.

[2018-02-18 16:25] dapetcu21 commented on #50
@subsoap Done 😄

[2018-02-18 20:26] subsoap opened #63 "2.0 release"
Anything which should be done before publishing a 2.0 release?

[2018-02-20 13:14] dapetcu21 commented on #37
I’ll surely pick it up when our game gets close to release if nobody else does before me, as we intend to release on Linux as well. But there are things with more priority in development, and I’d prefer to focus on getting the game done before we port it.

[2018-02-20 13:15] dapetcu21 commented on #63
Nothing that springs to my mind...

[2018-02-20 13:20] dapetcu21 commented on #32
I think we can close this, as it’s been implemented for all platforms in #57 and #60 (minus clipping for HTML5, but as far as I know that’s not possible).

[2018-02-20 13:20] #32 closed

[2018-02-20 14:38] subsoap commented on #63
@dapetcu21 Want to do the honors?

[2018-02-20 15:57] dapetcu21 commented on #63
@subsoap Done!

[2018-02-20 15:57] #63 closed

[2018-02-21 07:57] dapetcu21 opened #64 "Locking cursor on macOS stops dx dy"
After calling `defos.set_cursor_locked(true)` on macOS, Defold doesn’t receive dx/dy events anymore. I suspect it’s because Defold’s input code diffs mouse positions instead of using `NSEvent.deltaX` and `NSEvent.deltaY`.

I tried locking the cursor both by calling `CGAssociateMouseAndMouseCursorPosition(false)` and by repeatedly setting the mouse position to the same point each frame with `CGWarp

[2018-02-23 19:44] VincentLagerros opened #65 "Multiple windows open"
Is there any way to spawn multiple windows at the same time?

If it is not, that would be an amazing feature :)

[2018-02-23 19:45] #65 closed

[2018-02-23 19:47] VincentLagerros commented on #2
Multiple windows at the same time would be interesting. Just imagine snake or pong with diffrent windows.

[2018-02-23 20:36] subsoap commented on #2
@VincentLagerros Could you clarify?

[2018-02-23 21:51] VincentLagerros commented on #2
A feature that makes it possible to lunch multible windows, all in the same game. Pong with 3 windows, one for each padle and one for the ball. Inconvinient, but funny af. You controll a window, not a character in a window, the window itself.

[2018-02-23 22:28] subsoap commented on #2
It is probably possible. Probably easiest way to do it would be to render to texture in a render script, and then display a different texture on each window context.

Then you have to figure out how to make and manage the different window contexts.

I doubt any of us will spend time to implement this though but you could look into supporting multiple windows and having some way to display specific

[2018-02-24 10:29] VincentLagerros commented on #2
The only thing I need to make this possible, is a way to lunch Defold from Defold.

[2018-02-24 15:42] subsoap commented on #2
Three copies of the engine running is different from three window contexts controlled by the same engine.

Launching more copies would be easy if you have a good way to communicate between running copies.

[2018-02-24 16:02] VincentLagerros commented on #2
Right now I am saving and loading data from a text document, not very efficient but better then nothing. Launching more windows whould be fine by me

[2018-02-24 16:14] chaosddp commented on #17
closed as it is a common issue on windows that other app have same problem

[2018-02-24 16:14] #17 closed

[2018-02-25 08:35] chaosddp opened #68 "Width and height of get_window_size is not correct after maximized"

[2018-02-27 03:03] chaosddp commented on #37
Working in #70, and need help!

[2018-02-28 11:49] AGulev commented on #2
Almost done with set_window_icon method for html5, windows and macos

[2018-03-04 17:20] AGulev opened #72 "Too difficult logic for set_cursor"
As I think would be better to have one simple method for every platform set_cursor(nil or CONSTANT or path) where user can set path to the image .

I think those constructions are difficult:

- On HTML5, an URL to an image (data URLs work as well)
- On Windows, a path to an .ani or .cur file on the file system.
- On macOS, a table of the form

`

	if system_name == "Windows" then
		for i, v in ipa

[2018-03-05 02:03] chaosddp commented on #72
I think we'd better to leave the choice to developer, not bind it to bundle_resources, but we can provide a helper method like yours.
The windows example is made by me, and i do not know the bundle resource at that time.

[2018-03-07 23:58] subsoap opened #74 "OS Menus"
Useful for editors

Might be better as its own NE

http://zetcode.com/gui/winapi/menus/

Might be an existing cross platform solution which could be wrapped

[2018-03-12 11:18] dapetcu21 commented on #72
The problem with this is that on macOS a file path would not suffice. The hotspot X and Y are also needed. I can make it so that you can also pass in a file path on macOS, if you want to. Cursors are implemented very differently on all these platforms and trying to unify them is hard.

[2018-03-12 11:19] AGulev commented on #72
no, I don't need it.
no problem.

[2018-03-12 11:19] #72 closed

[2018-03-13 10:17] selimanac opened #76 "defos fail with Defold 1.2.123 update"
clang++ -c -arch x86_64 -target x86_64-apple-darwin12 -isysroot /opt/MacOSX10.13.sdk/ -m64 -O2 -g -mmacosx-version-min=10.7 -DDM_PLATFORM_OSX -DLUA_BYTECODE_ENABLE   -Iupload/defos/include

-I/var/extender/sdk/46d8b7e63d7e0f0f4acd545c46d25ca2b227a806/defoldsdk//include -I/var/extender/sdk/46d8b7e63d7e0f0f4acd545c46d25ca2b227a806/defoldsdk//sdk/include  upload/defos/src/defos_mac.mm -obuild/defos_m

[2018-03-13 13:26] selimanac commented on #76
Looks like it is a general problem about the latest update: https://forum.defold.com/t/native-extensions/4946/163

[2018-03-13 16:21] #76 closed

[2018-03-25 12:51] abadonna opened #77 "move_cursor_to doesn't update screen_x and screen_y"
1. set new cursor position with move_cursor_to
2. initiate any input action - action.x\action.y are correct, but action.screen_x\screen_y have old values

[2018-03-25 16:00] dapetcu21 commented on #77
Hi! On what platform?

[2018-03-25 16:06] abadonna commented on #77
osx running from editor

[2018-05-06 17:25] abdullah-eryuzlu opened #78 "Capturing mouse movement"
Hello,

Can I get the mouse movement information by using defos?

[2018-05-07 01:26] chaosddp commented on #37
List missing features for Linux that i cannot find a resolution here:

defos_set_cursor_locked
defos_is_cursor_locked
defos_is_cursor_clipped
defos_set_cursor_clipped
defos_set_cursor_visible
defos_disable_window_resize
defos_disable_minimize_button
defos_disable_maximize_button
defos_is_mouse_in_view

[2018-05-07 04:41] chaosddp commented on #78
If you mean system wide mouse capturing, we now only provide mouse in/out window event.

[2018-07-01 10:26] subsoap opened #79 "Need new release"
Several changes were made since last release

[2018-07-03 14:15] subsoap opened #80 "defos.set_cursor_locked behaves badly on windows"
It should not be allowed to change cursor position when window is not in focus

[2018-07-03 14:17] subsoap commented on #80
Same with defos.move_cursor_to

[2018-07-03 14:18] dapetcu21 commented on #80
I'm pretty sure it's bad UX to lock the user's cursor when your app is not in focus...

[2018-07-03 14:23] subsoap opened #81 "dx / dy issue"
I'm working on a First Person Shooter style camera setup, and am using action.dx and action.dy - only problem is that the cursor lock / set functions of defos interferes with the build in dx/dy so that the dx/dy movement gets reversed after a mouse cursor moves and then is returned to where it is.

Then do we need to be able to get mouse x/y position and calculate dx/dy ourselves or should I be go

[2018-07-03 14:28] subsoap commented on #81
I think then we'll have to be able to get the current mouse position within the view as  DefOS function and calculate the dx/dy of the frame ourselves before re-positioning.

[2018-07-03 14:31] subsoap commented on #80
Yes, I'm saying the current DefOS behavior is bad and needs to not change cursor position when game does not have focus as it currently does.

[2018-07-03 14:32] dapetcu21 commented on #80
Oh, fair. You're right

[2018-07-03 14:36] subsoap commented on #80
Defold devs can of course use window.set_listener to detect when game has focus or not, but I don't think we should give people the option to change mouse position when window is not in focus as the uses for it are more nefarious than legitimate.

[2018-07-03 14:37] dapetcu21 commented on #80
Not to mention, many people might just not think this as a problem

[2018-07-03 14:41] subsoap opened #82 "Proposal defos.get_cursor_pos()"
[code]
Would return the cursor position x,y relative to the game's view. Then we can get/set cursor position between frames while calculating dx/dy ourselves.

[2018-07-03 14:43] subsoap commented on #82
[code]
The current set functions may need to be renamed for clarity. So we would need two get functions too one for absolute screen coords one for relative view coords.

[2018-07-03 15:00] subsoap commented on #81
I tested collecting the screen_x and screen_y values from on_input and then calculating dx/dy myself in a function called in on update based on them but had same issue as using the dx/dy from action.

[2018-07-03 15:21] subsoap commented on #82
I will do for Windows in a few hours

[2018-07-03 22:33] subsoap commented on #82
Should we have cursor get/sets which use the view positions and mimic action.screen_x action.screen_y like in picture related or let user handle that in their scripts?

defos.set_action_pos(x,y)
local action = {defos.get_action_pos()}

![2018-07-03 15_31_47-](https://user-images.githubusercontent.com/409170/42247592-58cb8968-7ed6-11e8-9620-71d8bffd3fbf.png)

[2018-07-03 22:43] subsoap commented on #81
Ugh... I added get_cursor_pos to a local copy of defos to test with and it is still having the same issue with dx,dy.

Then I realized I *was* doing something wrong in the script with what I was setting the last frame's screen x and screen y to and now it works. I'll still finish up getting cursor pos on Windows and get a pr up today or tomorrow because it will be useful, and then you or someone e

[2018-08-14 12:25] Gianmichele opened #83 "Keep window always on top"
I use defos on a day to day basis to change resolution on the fly and test against the most common mobile ones and it is great!
It would be also great to have an option to always keep the window on top of the others. I use hot reload a lot and that would help not switch windows constantly.

[2018-08-14 20:49] subsoap commented on #83
Should be easy to add

https://stackoverflow.com/a/31170225

[2018-08-17 05:00] subsoap commented on #83
BTW if you need this sooner you can download DefOS and modify the set window position function to have the flag enabled by default and then use that version while you are developing.

[2018-08-24 09:59] subsoap opened #84 "Clang"
https://forum.defold.com/t/native-extensions-win32-clang/28084

[2018-08-24 10:07] subsoap commented on #84
Tested and appears to be not issues with building.

[2018-08-30 03:46] britzl opened #85 "New release or depend on master?"
There's quite a few commits since the last release. Is it possible to do a release of the new features and fixes or are they considered experimental? Or should I simply depend on master and expect that new commits will ensure backwards compatibility with the API?

[2018-08-30 06:02] #85 closed

[2018-09-10 23:21] subsoap opened #86 "Need minimize window function"

[2018-09-19 10:42] rgrams opened #87 "Get number of displays"
It would be great if DefOS had a function to get the number of available displays. Also, if possible, to get the name or some kind of identifier for each display.

[2018-09-19 10:46] rgrams opened #88 "Get native resolution for display"
I would like to be able to get a list of all the resolutions that a display supports. Hopefully this would support multiple monitors, you would pass in an index for which display you want to check.

[2018-09-19 10:50] dapetcu21 commented on #87
My proposal:

`local displays = defos.get_displays()`

Returns a table `displays`, where `displays[1]` would be the main display. Each display would be a table that would contain:

* `bounds = { x = 0, y = 0, width = 1920, height = 1080 }`, which would delimit the rectangle in client space (coordinates to be passed to `defos.set_window_size()`).
* `resolution = { width = 3840, height = 2160 }`, wh

[2018-09-19 11:00] dapetcu21 commented on #88
What would be the use case of this? You can always get the size of the window when the window is full screen. You'll also be able to get it if we implement #87.

I would be against setting the screen resolution, though. On macOS, at least, that's bad practice. This was a useful practice on CRT screens, but on LCD, your pixels are scaled anyway.

From Apple's documentation: `Avoid changing the disp

[2018-09-19 12:14] rgrams commented on #88
Hmm, that's a good point. Perhaps I am outdated in my thinking. I certainly agree that changing the display resolution is bad. And changing the game's resolution would be done on the game side of things (render target and whatnot). If you can get the full size of the display with #87, that would be fine.

[2018-09-19 12:14] #88 closed

[2018-09-19 12:15] rgrams commented on #87
Yup! That would be perfect!

[2018-10-21 15:35] dapetcu21 commented on #78
Closing this as the question has been answered. Further mouse information will be provided by #82.

[2018-10-21 15:35] #78 closed

[2018-10-21 17:04] dapetcu21 commented on #27
This seems fixed. Re-open if it's not

[2018-10-21 17:04] #27 closed

[2018-10-25 21:51] #68 closed

[2018-10-25 21:51] #80 closed

[2018-10-25 21:51] #82 closed

[2018-10-25 21:51] #83 closed

[2018-10-25 21:51] #86 closed

[2018-10-25 21:51] dapetcu21 commented on #87
Closed by #67

[2018-10-25 21:51] #87 closed

[2018-10-25 21:56] dapetcu21 commented on #79
Released v2.1.0

[2018-10-25 21:56] #79 closed

[2018-10-26 03:29] subsoap commented on #79
@dapetcu21 Could you make a post about the release here? https://forum.defold.com/t/defos-extra-native-os-functions/8042

[2018-12-31 14:08] #37 closed

[2019-01-17 09:13] dapetcu21 opened #90 "Set WM_CLASS on Linux"
Details here: https://forum.defold.com/t/wm-class-on-the-simulator/40688

[2019-01-31 11:36] 8bitskull opened #91 "Toggling fullscreen in update() of gui script creates error"
Hi! This is [asvegren ](https://forum.defold.com/u/asvegren/)from the Defold forums.

First of all - massive thanks for this amazing extension.

I have encountered an issue using defos.set_fullscreen(bool_value) and defos.toggle_fullscreen(). I have a gui component that deals with various game settings, including full screen. I noticed that toggling full screen interrups the completion of the rest

[2019-01-31 14:21] britzl commented on #91
Hmm, that is quite surprising behaviour to be honest! I'm not sure what could be causing it. I guess you could post a message to yourself when you detect the click in on_input() and handle the message in on_message() where you call triggers defos.toggle_fullscreen().

[2019-02-01 12:41] subsoap commented on #91
I agree with @britzl you probably will be able to deal with this best by sending a message to itself or another script to do the toggling on getting the message to avoid any interrupt. But you should also try to make a minimal reproducing example for us to test and see what's really going on.

What OS is this happening on?

[2019-02-06 07:34] 8bitskull commented on #91
Thanks for the suggestions on sending messages to shift where the call happens.

I am getting this error on Windows 7.

I tried making a reproducing example, but am failing to do so. The example I am pasting below is indicative of what happens in my main project and should trigger the error, but doesn't. I suppose that means either I'm misunderstanding the cause or there is something else interact

[2019-02-22 08:11] abadonna commented on #77
Any news?

[2019-02-22 08:24] subsoap commented on #77
I don't think we can update screen_x/screen_y that's an engine thing. @britzl what do you think?

[2019-02-22 08:44] abadonna commented on #77
It would be nice to force input event somehow

[2019-02-22 10:35] subsoap commented on #77
We've requested to be able to simulate input before. You should post on the Defold forums asking again so it gets more attention.

[2019-03-06 00:10] subsoap opened #92 "Xubuntu 16.04 Window / Fullscreen issue"
First off, it was set to fullscreen but in a windowed mode about 1/4 my laptop's resolution. I unchecked and checked "Fullscreen", and the game changed to fullscreen. After restarting the game, it was marked as fullscreen again, but still in a much smaller window, same as before.

This is all on Xubuntu 16.04, so I'll give a try on Xubuntu 18.04 when I get the chance after I finish work later toni

[2019-03-06 05:23] subsoap opened #93 "Toggle fullscreen not work on Linux launch"
Getting lots of reports from Linux users that toggling fullscreen like we do on main.script init does not work, only when they go to options screen can they toggle fullscreen. Not sure of a solution other than to toggle fullscreen after a moment on Linux. Maybe an error is happening when toggling as soon as a project inits on Linux?

Work on Mac/Win though.

[2019-03-06 05:28] subsoap opened #94 "Custom cursor not work / not always work on Linux"
Getting more info

[2019-03-11 11:20] aglitchman opened #95 "Scaling Factor detection on Windows 10"
I have a 24' 3840x2160 monitor that I use with Windows 10 at a scale of 200%. So virtually it's 1920x1080 with PPI, like Apple Retina.

DefOS failed to determine the correct `scaling_factor` (must be 2):
[code]

Seems that on Windows 10 you should to use this API to determine the correct `scaling_factor`:
https://docs.microsoft.com/en-us/windows/desktop/api/shellscalingapi/nf-shellscalingapi-getsc

[2019-03-11 11:37] dapetcu21 commented on #95
That's odd. From what I know there are two ways to scale a display on Windows, which compound with each other. One which controls the actual size of the display on the desktop canvas (which DefOS tracks) and one which controls the size of UI elements for windows on a particular screen (shell scaling).

The values that `bounds` returns are returned in such a way that you can plug them back into `de

[2019-03-20 23:28] subsoap opened #96 "Option to scale cursor on Linux for high dpi screens?"
![2019-03-20 16_27_50-messages_ messages](https://user-images.githubusercontent.com/409170/54725651-23ef2f00-4b2d-11e9-9dc5-32d2e4cc56d2.png)

[2019-03-28 16:28] dapetcu21 commented on #96
Fixed in v2.2.1. Just use two pngs in the `xcreatecursor` config, one at size 24 and the 2x one at size 48 (the actual pixel size can be whatever. 24/48 is just the cursor font size (the first column in the config)).

Example:

[code]

[2019-03-28 16:28] #96 closed

[2019-04-17 11:59] aglitchman commented on #95
I just found out that `scaling_factor` becomes equal to 1 when **High Dpi** is enabled in `game.project`.
If hidpi is off, `scaling_factor` is detected correctly, so the issue can be closed.
Is it a bug or a feature?

[2019-04-17 12:02] dapetcu21 commented on #95
@aglitchman Does `mode.width / mode.scaling_factor` equal `bounds.width`? Can I see the full table?

[2019-04-17 12:11] aglitchman commented on #95
I recently upgraded my monitor to 27 inches, so scaling_factor is now 1.5 (150%).

[code]

**High Dpi is off**
[code]

**High Dpi is on**
[code]

[2019-04-19 08:04] dapetcu21 commented on #95
Yeah. This is the intended behaviour. Window coordinates map 1:1 to the display pixels, so `scaling_factor` is 1. As I said above, we maybe should add a `ui_scaling_factor` property that would report the shell scaling factor independently from this.

[2019-04-19 08:20] aglitchman commented on #95
I use DefOS on Windows to scale the window down to the desktop height after starting and move the window to the center of the screen. Very useful in the development process.

When high dpi is off, my code works fine. When high dpi is on, it works incorrectly because the real height of the taskbar and the window borders are unknown because of incorrect `scaling_factor`.

Adding `ui_scaling_factor`

[2019-04-19 08:23] dapetcu21 commented on #95
For the window borders, you can query them. `defos.get_window_size()` returns the window bounds including window borders and `defos.get_view_size()` returns the bounds of just the rendering surface (excluding window borders).

[2019-04-19 12:04] aglitchman commented on #95
Yeah, that's what I do. But without `ui_scaling_factor` it is impossible to calculate the height of the taskbar.

[2019-04-22 23:11] subsoap opened #97 "Game does not always go fullscreen on the correct screen on Linux?"
Test device with multiple monitors

OS: Arch Linux x86_64 Host: All Series Kernel: 5.0.9-arch1-1-ARCH Uptime: 2 hours, 16 mins Packages: 1683 (pacman) Shell: zsh 5.7.1 Resolution: 1920x1080, 2560x1440 DE: KDE WM: KWin Theme: Breeze [KDE], Adwaita [GTK2] Icons: Papirus [KDE], Adwaita [GTK2] Terminal: konsole CPU: Intel i7-4790K (8) @ 4.400GHz GPU: NVIDIA GeForce GTX 1080 Ti Memory: 14322MiB / 32110

[2019-07-30 05:52] subsoap opened #99 "Issue on Yoga 2 pro"
[code]
If app is set to fullscreen at launch it flickers on this setup, has to go switch to window mode. Not sure the problem.

According to use this is the device and he's then running the game on a connected monitor that is 1600x1200

[2019-08-08 14:40] subsoap opened #100 ".script_api support for auto-complete"
https://forum.defold.com/t/attention-extension-creators/59718

https://www.defold.com/manuals/extensions-script-api/

[2019-09-25 20:44] GreenXenith opened #103 "Implementing set_window_icon on Linux"
Opening this because I don't currently understand how to execute the theoretical steps.

In theory, this is achieved by loading the image, converting to RGBA, turning it into a pixmap, and setting it as the `_NET_WM_ICON` property using `XChangeProperty`.
Someone with more understanding of C++ and images should be able to implement this with relative ease.

It is worth noting [xseticon](http://www

[2019-09-26 06:50] dapetcu21 opened #104 "Game doesn't go full screen on the current screen on Windows"
It only goes full screen on the primary display

[2019-09-26 06:51] dapetcu21 opened #105 "Cursor doesn't hide on XFCE"

[2019-09-27 07:29] #105 closed

[2019-10-09 07:19] tadaaagames opened #108 "White flash on startup"
I've found that on startup of the application I get a white flash for 4-5 frames when using Defos that doesn't happen on vanilla Defold.

Is this something that can be fixed/worked around or is part of the loading process?

[2019-10-09 17:57] subsoap commented on #108
It would be worth making an issue https://github.com/defold/editor2-issues/issues here about this. I assume on their vanilla engine they have the clear color set to black, but in the extended version it's set to white.

[2019-10-09 19:02] tadaaagames commented on #108
Yep, will do.

Thanks!

[2019-12-06 21:28] subsoap opened #110 "Custom OS cursor breaking for macOS since recent update?"
10.9.5

[2019-12-06 21:30] subsoap commented on #110
Not sure if it's our  fault but we have not touched that code in forever in our game.

[2019-12-10 05:20] britzl commented on #110
@jcash might have some input here. Did we make any changes to the macOS application startup process or was this only for iOS? Also, the merge of the Vulkan stuff, could this have some impact on mouse cursors? Or did we update the build pipeline on macOS maybe?

[2019-12-10 08:00] JCash commented on #110
No, there are no changes to the OSX app that should have caused this imo.
We have done some vulkan preparation (it's not enabled yet) so we did some preparation for it, but I don't actually suspect that part.

Can you pinpoint at what engine version this started to happen?

[2019-12-10 08:01] dapetcu21 commented on #110
I don't have the same issue in Interrogation. The custom cursor works fine.

[2019-12-12 12:54] subsoap commented on #110
Engine version is 1.2.164. Unfortunately we have very few macOS players so I only have info from one person. I'll try to get more people to test and see if they experience the same issue.

[2019-12-12 12:56] dapetcu21 commented on #110
@subsoap Is this FSH? I can test that if you want to.

[2019-12-12 13:00] subsoap commented on #110
Yes, it is. Latest should be the same, make sure custom hardware cursor is active in settings then try to hover buttons and such. See if system cursor appears randomly while doing so.

[2019-12-12 13:05] dapetcu21 commented on #110
@subsoap check slack pls

[2019-12-12 13:07] britzl commented on #110
It works for me with 1.1.19.11.25 on Mojave

[2019-12-12 13:08] britzl commented on #110
Although if you move the mouse cursor back and forth very quickly the accessibility thing that shows a magnified mouse cursor appears instead of the custom one.

[2019-12-12 13:15] dapetcu21 commented on #110
Yeah, no issues here with 1.1.19.11.25 on Catalina

[2019-12-12 13:20] subsoap commented on #110
Need to make a tester app which relatively quickly swaps the custom cursor then to see if any system cursor appears when it should not.

[2019-12-15 13:45] subsoap opened #111 "Need to change / improve method of setting HTML5 cursor"
https://github.com/subsoap/defos/blob/9e54a68c37ea6457f3e0c43fef32313d9fc44162/defos/src/defos_html5.cpp#L323

Should change this to allow for setting the x,y hotspot of the image.

[2019-12-16 16:21] subsoap opened #112 "Custom cursor images do not work in Microsoft Edge"
Not that it is incredibly important... but it is an issue. Cursor displays as invisible on Edge if a custom one is set. Need to investigate and find proper solution, and if one cannot be found detect Edge and disable custom cursor functions (not setting custom cursor like pointer/hand, just using custom images). It's possible whatever I was doing is also specifically broken so I'll be sure to test

[2020-01-12 20:24] subsoap opened #113 "Multi monitor / tv setups can create issues with fullscreen mode"
https://steamcommunity.com/app/583930/discussions/0/1741138420017042584/

[2020-01-13 08:57] dapetcu21 commented on #113
On what OS?

[2020-01-13 18:28] subsoap commented on #113
User says Windows 10 x64, Build 1909

[2020-05-23 17:55] subsoap opened #114 "FPS cursor lock"
I'm unsure how to do a FPS cursor lock properly

set_cursor_locked at the middle of the view messes up with the dx,dy - it always returns to the original place when rotating

set_cursor_clipped does does not produce dx,dy values once the cursor reaches the edge of the view when the game is in window mode

[code]

Looking at an older FPS project I worked on I looked at the actual cursor position an

[2020-05-23 21:19] dapetcu21 commented on #114
Yeah. `defos.set_cursor_locked()` doesn't even report `dx` `dy` on macOS. It's unusable in this state.

Maybe a PR to Defold to make it report the real dx dy even when the cursor didn't move or was programatically teleported would solve this.

The solution for now is to hide the cursor then move it to the center each frame.

[2020-05-23 21:20] dapetcu21 commented on #114
I'll close this since #81 and #64 discuss the exact same issue

[2020-05-23 21:20] #114 closed

[2020-06-10 07:03] JCash opened #115 "Emscripten 1.39 support"
As advertised on the forum, the engine beta 1.2.170 is now supporting Emscripten 1.39.16, which contains breaking changes to the Emscripten api.

I suggest

[2020-06-10 11:36] dapetcu21 commented on #115
Oh! Good catch with the instructions. I edited the README. For 1.2.170 compatibility, I'll look into it when I'll catch some time this weekend.

[2020-07-16 20:24] aglitchman commented on #81
The issue can be solved. Since the source code of Defold has been opened, you can do dirty hacks like below.
So we will be able to use builtin deltas `action.dx` and `action.dy` for first person mouse look.

[code]

[code]

Ref: https://github.com/defold/defold/blob/dev/engine/glfw/include/GL/glfw.h

[2020-08-15 14:52] rsaienz opened #116 "hide cursor not working on mac"
In the init function of the unique script attached to the bootstrap collection I have the following lines:
	defos.set_window_title("Jack Redrum")
	defos.set_fullscreen(true)
	defos.set_cursor_visible(false)
When I run the game on Mac, I see that: (1) the window title is set, (2) fullscreen mode is entered but (3) the cursor IS still visible. I have also tried in windowed mode but the cursor is alw

[2020-08-15 15:00] rsaienz commented on #116
I think I am able to reproduce the issue:

1. start the app and go in fullscreen (the cursor is not visible)
2. move the mouse to the top of the screen (also if you don't see it)
3. click and the window buttons appear
4. click again if the mouse is still not visible
5. toggle fullscreen with the green window button

6. now change the code and leave the app in windowed mode at startup
7. the cursor

[2020-08-18 21:33] subsoap opened #117 "First input after toggling fullscreen not available on MacOS?"
https://forum.defold.com/t/first-mouse-click-after-fullscreen-toggle/66076

[fullscreen_mouse.zip](https://github.com/subsoap/defos/files/5092963/fullscreen_mouse.zip)

[2020-11-02 08:59] dapetcu21 commented on #117
Yeah, I experienced that as well in Interrogation. Not sure why it happens or how to fix it.

[2020-11-02 09:11] dapetcu21 commented on #116
I reproduced it in a slightly different way (by clicking on the top bar, which makes the cursor show again, then clicking back into the game, where the cursor should hide again, but that doesn't happen). I added a workaround and I'll soon make a new release.

[2020-11-02 09:11] #116 closed

[2021-01-24 21:27] britzl commented on #74
Note that there is this NE for Defold (Windows+macOS): https://github.com/andsve/def-mnu

[2021-01-24 21:30] britzl commented on #108
I don't think this is true anymore (or if it ever was). We did however make a change maybe half a year ago where the engine sets the clear color earlier during initialization than it did before.

Note that I can't recall seeing a white flash on startup in projects using DefOS though). @gianmichelemariani are you still experiencing this problem? Which OS?

[2021-01-24 21:32] britzl commented on #91
@8bitskull is this still happening?

[2021-01-24 21:32] dapetcu21 commented on #74
For Linux it would be really hard/impossible since that would mean depending on something like GTK which wouldn't play nice with Defold's X11-based windowing implementation.

[2021-01-24 21:39] britzl opened #119 "Should defos.on_click() be expanded to cover additional user interaction events?"
I assume the purpose of defos.on_click() for HTML5 is to be able to switch to fullscreen and start music on user interaction to avoid that the browser blocks the request? If that is the case then shouldn't it rather be something like defos.on_interaction() and let that callback trigger on click, touchend and keyup as well?

Example from fork: https://github.com/refold/defos/blob/master/defos/src/d

[2021-01-24 22:29] dapetcu21 commented on #119
That's a great suggestion. If you make a PR I'll merge it.

[2021-01-24 22:58] britzl commented on #119
Created PR: https://github.com/subsoap/defos/pull/120

[2021-01-25 04:18] #119 closed

[2021-01-25 04:24] dapetcu21 commented on #115
Did I ever get to do this? I think this needs to be tested on HTML5.

[2021-01-25 04:30] dapetcu21 opened #121 "Cross-platform custom cursors"
Currently, you need to create cursors for each OS individually. Ideally DefOS would have a mode where you would pass it a PNG and some hotspot coordinates (or an array of PNGs for different DPIs) and it would generate cursors on the fly in an OS-consistent way.

[2021-01-25 09:52] 8bitskull commented on #91
I reset the offending script to its original configuration and can no longer reproduce the issue.

[2021-01-25 09:52] #91 closed

[2021-01-25 11:50] gianmichelemariani commented on #108
Let me check again. I haven't used defos in a while :)

[2021-03-22 19:02] gianmichelemariani commented on #108
Apology for the delay.
I've tested this, without defos and with all the latest launchscreen storyboard, etc. Version is 1.2.181 beta (but I think it happens in other version too) and it's a debug build.

What is happening here is that on launch of the application, the storyboard part is shows (I have just a white background), then there is a flash to black, and then the render kicks in (I have a c

[2021-03-23 16:59] subsoap commented on #108
@gianmichelemariani Do you have any other native extensions enabled?

[2021-03-23 17:09] gianmichelemariani commented on #108
Just these 2

<img width="653" alt="Screenshot 2021-03-23 at 17 09 05" src="https://user-images.githubusercontent.com/46694168/112187997-825ab680-8bfa-11eb-8949-cca694f66da6.png">

[2021-08-10 01:05] Dziq84 opened #122 "allow `clip cursor to game view area` for Linux"
![brave_2021-08-10_02-51-08](https://user-images.githubusercontent.com/13541407/128792709-1a1da70f-deae-4502-b6c3-bd8de1d42773.jpg)

small feature request as in issue title, hoping someone will jump in and make it possible :)

Lack of this feature for Linux completly (or almost) break my game, if I going to bundle it for that platform.
Not to mention others can use it for own advantages
Thanks in

[2021-08-10 01:59] subsoap commented on #122
https://tronche.com/gui/x/xlib/input/XGrabPointer.html

[2021-09-18 16:07] 11clock opened #123 "Set Window/View Size Before Game Start"
If your game’s virtual resolution (display width and display height) is different from what you want your initial window size to be, you need to call set_view_size on your game’s init. While this works, this function isn’t called until after the game has booted up, leaving your game at the actual display resolution for a few frames.

See the below game that was designed to be in 1080p, but has the

[2021-09-18 20:37] subsoap commented on #123
I'm not sure if this is possible to do with a native extension. Unless somehow we are able to override the default GLFW 2.5 window view size on extension init, and if that is soon enough to prevent the appearance of a larger initial window view size. If that was possible then maybe we could access a game.project setting within native extension init to force an actual extension init window view siz

[2021-09-19 08:46] AGulev commented on #123
Issue will be fixed after merging this PR https://github.com/subsoap/defos/pull/124 (Pls pay attention that this fix can't be applied before a fix in the engine, read PR description)

[2021-11-13 07:53] fuzzdistor opened #125 "Library stops project from building on linux"
Any project that includes DefOS, including the example provided, does not launch a window when hitting `Build` with no error message from inside Defold, and it's unable to bundle for any platform with the following error message:

[code]

Running Defold from the terminal shows this error message when hitting `Build`:

[code]

... And this message when running Bundle for any supported system:
[code

[2021-11-13 13:09] dapetcu21 commented on #125
This honestly seems like a Defold bug. Maybe you should report it at https://github.com/defold/defold/issues

Nevertheless, how did you add the dependency? What URL did you use?

[2021-11-13 14:04] subsoap commented on #125
Tested bundling master for Linux on a Windows 10 host and it worked.

Please preserve a copy of the project where this breaks. The Defold team may be interested in inspecting it to see why it breaks.

[2021-11-14 06:04] britzl commented on #125
Please share the URL you used, or a copy of your project.

[2021-11-14 07:16] fuzzdistor commented on #125
I used `https://github.com/subsoap/defos/archive/v2.6.0.zip`. Note that the example provided with DefOS also does not run and it just depends on the dirty larry library.

Any newly created empty project will not build if you add DefOS as a dependency.

Libraries like rendercam work with no issues.

The library works as intended if I switch to Windows and use the Windows build of Defold.

I'll repo

[2021-11-14 10:46] britzl commented on #125
It seems like the editor for some reason fails to download the dependencies. Have you for some reason prevented the editor from making network requests? Can you use wget or curl to manually download the dependency in a terminal?

What if you try bob.jar instead?

[code]

[2021-11-14 13:07] fuzzdistor commented on #125
Bob does build (lol) correctly every project I've tried (The example and a couple of projects with the dependency and functions set up for testing). That is something! :)

Any directions on how should I go about fixing my Defold installation? I have tried re-downloading from the official page several times while troubleshooting and also installing the current AUR package (it's not the latest versi

[2021-11-15 04:37] fuzzdistor commented on #125
I have fixed the issue by removing the `prefs.xml` file on `~.java/.userPrefs/defold/`. Unfortunately I did not save a copy of the file before removing it. Sorry about that. I'll be sure to report it back to the Defold team if the issue returns in the future. Thanks again for your hard work!

[2021-11-15 04:37] #125 closed

[2021-11-15 10:22] britzl commented on #125
Oh, that's interesting. I wonder what you had in `prefs.xml` that was causing a problem for you?

[2022-01-31 10:24] e1e5en-gd opened #126 "Changing the window title"
When changing the window title (function `defos.set_window_title`) using Cyrillic, as a result, we get incorrect characters.
Sample project: [title_window_issue.zip](https://github.com/subsoap/defos/files/7969979/title_window_issue.zip)
Screenshot:
![image](https://user-images.githubusercontent.com/7114353/151776794-9cd34456-1f9e-44b2-86b6-6a1d53256ed0.png)

An example fix in the Defold engine: [l

[2022-01-31 11:28] britzl commented on #126
Strange, I would have thought that CA2W which is used in DefOS would work out of the box:

https://github.com/subsoap/defos/blob/master/defos/src/defos_win.cpp#L251

What you can try is like you suggested and instead use MultiByteToWideChar, like we do in Defold.

[2022-02-04 08:15] subsoap commented on #126
As discussed on #127 and in Discord there is still a problem somehow so reopening.

[2022-02-04 08:20] e1e5en-gd commented on #126
I'll add a message from Discord:
If you do not pay attention to character transformations, then the task of the value in the window title occurs with errors:
[code]
![image](https://user-images.githubusercontent.com/7114353/152495333-b8a723c3-8e26-427a-8e1d-d082bb10053c.png)

[2022-02-13 00:13] lonnietc opened #128 "Defos for dynamically scaling Defold game window in HTML5?"
Hello,

I am still new to Defold engine and am trying to learn how I might be able to dynamically scale the game window in the browser so that in a type of fullscreen "stretch" mode then the game window will actually scale to larger, or smaller as needed.

Basically, I want to put a game in an iframe that can be of different sizes and then the game window will actually truly scale to the size of t

[2022-02-13 00:38] subsoap commented on #128
Could you post this request in the Defold forum too?

[2022-02-13 04:06] lonnietc commented on #128
Yea, I am asking on there as well to see what solutions they might have in  this regard but wanted to ask here too since this library seemed like it might offer a possible solution.

[2022-09-05 22:02] K-Klear opened #129 "Toggling fullscreen re-enables window resize if previously disabled (Windows 10)"
Very simple repro: [defos_test.zip](https://github.com/subsoap/defos/files/9492131/defos_test.zip)

Worked around it by monkeypatching the defos.toggle_fullscreen function to always disable window resize as well, since I don't ever want it enabled in my project.